.description {
  width:100%;
  border-radius: 19px;
  background: #ffffff;
  box-shadow:  8px 8px 7px #e8e8e8,
         -6px -6px 7px #ffffff;
    height: 40vh;
    margin:  0 auto;
    margin-top: 3%;
    padding: 1%;
    color:black;
    margin-bottom: 1%;
  }
  .graphs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    width: 90%;
    margin:  0 auto;
    margin-top: 20px;
    margin-bottom: 2%;
  }
  .col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  .bar-graph {
    display: flex;
    width: 40vw;
    height: 5vh;
    display: inline-block;
    margin-right: 2%;
  }
  .pie-chart {
    width: 40vw;
    height: 3vh;
  }
  h4{
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    color: #4c78ac;
  }
  