
.form-signin {
    background-color:#4c78ac;
    color:white;
    max-width: 30vw;
    height: 45vh;
    padding: 5%;
    margin: 0 auto;
    border-radius: 5%;
    -webkit-box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.62); 
    box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.62);
  }
  h1{
      text-align: center;
  }
  
  .form-signin input[type="email"] {
      padding:3.5%;
    margin-bottom: 5%;
    -webkit-box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.22); 
    box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.22);
  }
  
  .form-signin input[type="password"] {
    padding:3.5%;
    margin-bottom: 5%;
    -webkit-box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.22); 
    box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.22);
  }

.btn {
    background: #d34c6c;
    background-image: -webkit-linear-gradient(top, #d34c6c, #e9b3c3);
    background-image: -moz-linear-gradient(top, #d34c6c, #e9b3c3);
    background-image: -ms-linear-gradient(top, #d34c6c, #e9b3c3);
    background-image: -o-linear-gradient(top, #d34c6c, #e9b3c3);
    background-image: linear-gradient(to bottom, #d34c6c, #e9b3c3);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    text-shadow: 1px 1px 3px #666666;
    -webkit-box-shadow: 2px 3px 4px #7d7d7d;
    -moz-box-shadow: 2px 3px 4px #7d7d7d;
    box-shadow: 2px 3px 4px #7d7d7d;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border:none;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
  }
  
  .btn:hover {
    background: #e9b3c3;
    background-image: -webkit-linear-gradient(top, #e9b3c3, #d34c6c);
    background-image: -moz-linear-gradient(top, #e9b3c3, #d34c6c);
    background-image: -ms-linear-gradient(top, #e9b3c3, #d34c6c);
    background-image: -o-linear-gradient(top, #e9b3c3, #d34c6c);
    background-image: linear-gradient(to bottom, #e9b3c3, #d34c6c);
    text-decoration: none;
  }